#form-sidebar {
    width: 25vw;
}

.example-form-field {
    width: 100%;
}

.avatar-container {
    width: 100%;
    height: 100px;
}

.avatar-container img {
    border-radius: 50%;
}

.post-wrapper {
    overflow-y: auto;
    height: 25vh;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.014);
    border-radius: 5px;
}