<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <!-- <p>Auto-resizing sidenav</p> -->
        <!-- <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->

        <div class="sidebar-container">
            <app-user-detail-sidebar *ngIf="selectedUser" [user]="selectedUser"
                (closeElement)="closeSideBar($event, drawer)"></app-user-detail-sidebar>
            <div *ngIf="!selectedUser" style="width: 400px;">cargando...</div>
        </div>

    </mat-drawer>

    <div class="col-8 offset-2 mt-3 text-center">
        <span class="title ">{{title}}</span>
    </div>

    <!-- <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->

    <div *ngIf="!loading" class="col-8 offset-2 mt-3 mb-3" style="height: calc(100vh - 154px);">
        <div>
            <mat-card *ngFor="let user of users" class="example-card" (click)="openSideBar(drawer, user.id)">
                <div class="row">
                    <div class="col-8">
                        <mat-card-title-group>
                            <mat-card-title>{{user.first_name}} {{user.last_name}}</mat-card-title>
                            <mat-card-title class="subtitle">{{user.email}}</mat-card-title>
                        </mat-card-title-group>
                    </div>
                    <div class="col-4">
                        <img class="avatar img-fluid" mat-card-sm-image [src]="user.avatar">
                    </div>
                </div>
            </mat-card>
        </div>
        <mat-paginator [length]="total" [pageSize]="6" aria-label="Select page" (page)="handlePage($event)">
        </mat-paginator>
    </div>
    <div *ngIf="loading" class="col-8 offset-2 mt-3" style="height: calc(100vh - 120px);">
        <div style="top: calc(50vh - 200px); position: relative;">
            <mat-spinner style="margin: auto"></mat-spinner>
        </div>
    </div>

</mat-drawer-container>